/* #filtros */
:root{
    --text-color: #1f1f1f;
    --background: #fafafa;
    --purple-color: #E5AFFF;
    --purple-strong: #cb5cff;
    --yellow-color: #fbed71;
}

#filtros{
    width: 273.59px;
    border-radius: 20px;
    background-color: #fbed71;
    margin-left: 5%;
    margin-top: 111px;
    align-self: flex-start;
    display:flex;
    flex-direction: column;
    align-items: center;
}
#filtros img{
    max-width: 36.55%;
    border: 2px solid var(--text-color);
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: var(--text-color);
    user-select: none;
    
}
#filtros h2{
    font-size: x-large;
    font-weight: 500;
    letter-spacing: 2px;
    color: var(--text-color);
}
#filtros div{
    height: 24px;
    width: calc(90% - 15%);
    border-radius: 5px;
    background: var(--purple-strong);
    color: var(--text-color);
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-left: 15%;
    font-weight: 500;
    font-size: large;
    margin-bottom: 20px;
}

#filtros div > .material-symbols-outlined{
    position: relative;
    right: 10%;
    cursor: pointer;
    transition: 0.2s;
    user-select: none;

}

#filtros p[id*="texto"]{
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px ;

    background-color: #E5AFFF;
    width: calc(90% - 10px);
    
    
    margin-top: -21px;
    margin-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px; 
    display: none;
    letter-spacing: -0.5px;
}
